.nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-item {
  padding: 5px 0px;
  height: 28px;
}

.active-link {
  font-weight: bold;
}

@media (max-width: 900px) {
  .title {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .nav-list {
    display: inline-block;
  }

  .nav-item {
    display: inline;
    padding: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
