/* GLOBAL ITEMS */
html, body {
  font: 15px Helvetica Neue, Helvetica;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  padding: 10px;
  margin: 0;
}

p {
  line-height: 22px;
  margin-bottom: 22px;
  margin-top: 0px;
  font-size: 15px;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid rgba(208, 70, 70, 1);
}

a:hover {
  background-color: rgba(208, 70, 70, 1);
  color: #fff;
  border-bottom: none;
  padding: 3px;
  margin: -3px;
}

.dark-body {
  background-color: rgb(20, 20, 20);
  color: #fff;
}

a.dark-link {
  color: #fff;
}

a.dark-link:hover {
  color: rgb(36, 41, 46);
}

.main-content {
  flex: 1 0 auto;
  max-width: 675px;
  padding: 10px;
  margin: 25px auto;
}

.header-link {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}

.header-link.dark {
  color: #fff;
}

.header-link:hover {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0;
  margin: 0;
}

.header-link.dark:hover {
  color: rgb(36, 41, 46);
}

.bold {
  font-weight: 700;
}

.header {
  font-size: 22px;
}

.map-img {
  width: 100%;
  margin-bottom: 10px;
}

.spacer {
  margin-top: 40px;
}

.no-margin {
  margin: 0;
}

footer {
  flex-shrink: 0;
}

footer p {
  font-size: 12px;
  line-height: 18px;
}

.footer-content {
  max-width: 675px;
  padding: 10px;
  margin: 10px auto;
}

@media (max-width: 720px) {
  .main-content {
    margin: 0 auto;
  }

  .footer-content {
    margin: 0 auto;
  }

  p {
    font-size: inherit;
  }
}
