/* GLOBAL ITEMS */
html, body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  height, width: 100%;
}

h1{
  font-weight: 200;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

/* HOMEPAGE */
header{
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 9999;
  color: #fff;
  letter-spacing: 3px;
  /*font-family: ''*/
  border-bottom: 3px solid #fff;
}
header ul {
  list-style: none;
  text-align: right;
  font-weight: 300;
  font-size: 120%;
  padding-left: 20px;
}
header ul li a{
  text-decoration: none;
  color: #fff;
}
header ul li a:hover{
  text-decoration: underline;
  color: #fff;
}
.top-box{
  width: 100%;
  height: 100%;
  background-color: #292b3c;
  /*background-color: #30323D;*/
  text-align: center;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.planetary-container{
  height: 700px;
  overflow: hidden;

}
svg.planetary{
  width: 100%;
  height: 100%;
}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
	display: block; position: absolute;
	background: #3e4055;
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 1.5s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}
