html, body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
}

h1{
  font-weight: 200;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

.clock-circle {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  /*border: 8px solid #fff;*/
  /*border-radius: 50%;*/
  /*background: #4527A0;*/
}
.clock-face {
  width: 100%;
  height: 100%;
}
.clock-hour{
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-3px 0 -3px -25%;
  padding:3px 0 3px 25%;
  background:#fff;
  -webkit-transform-origin:100% 50%;
  -ms-transform-origin:100% 50%;
  transform-origin:100% 50%;
}
.clock-minute{
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-40% -2px 0;
  padding:40% 2px 0;
  background:#fff;
  -webkit-transform-origin:50% 100%;
  -ms-transform-origin:50% 100%;
  transform-origin:50% 100%;
}
.clock-second{
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-40% -1px 0 0;
  padding:40% 1px 0;
  background:#fff;
  -webkit-transform-origin:50% 100%;
  -ms-transform-origin:50% 100%;
  transform-origin:50% 100%;
}
.clock-face:after {
    position:absolute;
    top:50%;
    left:50%;
    width:12px;
    height:12px;
    margin:-6px 0 0 -6px;
    background:#fff;
    border-radius:6px;
    content:"";
    display:block;
}
