/* GLOBAL ITEMS */
html, body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  height, width: 100%;
}

h1{
  font-weight: 200;
  margin: 0px;
}

h2{
  font-weight: 200;
  margin: 0px;
}

h3{
  font-weight: 100;
  margin: 0px;
}

/* HOMEPAGE */
.top-box{
  width: 100%;
  height: 700px;
  background-color: #30323D;
  text-align: center;
  padding: 20px;
}

svg.planetary{
  width: 100%;
  height: 100%;
}
